{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ 'genre.genres' | trans }}{% endblock %}

{% block body %}
	<div class="container-fluid content">

		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li class="active">{{ 'genre.genres' | trans }}</li>
					{% if is_granted('ROLE_ADMIN') and genres|length == 0 %}
						<li>
							<a class="btn btn-success btn-sm" href="{{ path('genres_add') }}">
								<i class="glyphicon glyphicon-plus"></i> {{ 'actions.add_genre' | trans }}
							</a>
						</li>
					{% endif %}
				</ol>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-12">
				{% for flash_message in app.session.flashBag.get('notice') %}
					<div class="panel panel-default">
						<div class="panel-body bg-success">
							{{ flash_message }}
						</div>
					</div>
				{% endfor %}
				{% for flash_message in app.session.flashBag.get('error') %}
					<div class="panel panel-default">
						<div class="panel-body bg-danger">
							{{ flash_message }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-default filter-toggle" type="button" data-toggle="collapse" data-target="#filter">
					<i class="glyphicon glyphicon-collapse-down"></i> {{ 'messages.filter' | trans }}
				</button>
				<hr/>
			</div>
		</div>

		<div class="collapse {{ app.request.query.get(form.vars.name) or app.session.get(filterName) ? 'in' }}" id="filter">
			<div class="row">
				{{ form_start(form, { 'attr': { 'class': 'filter-form' } }) }}

				<div class="col-xs-3">
					{{ form_row(form.name, { 'attr': { 'class': 'highlight-value' } }) }}
				</div>

			</div>

			<div class="row">
				<div class="col-xs-3">
					{{ form_row(form.sortByName) }}
				</div>
			</div>

			<div class="row">
				<div class="col-xs-3">
					<button type="submit" class="btn btn-primary">
						<i class="glyphicon glyphicon-search"></i> {{ 'actions.show' | trans }}
					</button>
					<a role="button" class="btn btn-default" href="{{ path('genres', { 'reset': true }) }}">
						<i class="glyphicon glyphicon-remove-circle"></i> {{ 'actions.reset' | trans }}
					</a>
					<br/><br/>
				</div>
				{{ form_end(form) }}
			</div>

		</div>

		<div class="row">
			<div class="col-xs-12">

				{% if genres|length > 0 %}
					<table class="table table-striped table-hover">
						<tr>
							<th>{{ 'genre.genre' | trans }}</th>
							<th>{{ 'book.books' | trans }}</th>
							<th>
								{% if is_granted('ROLE_ADMIN') %}
									<a class="btn btn-success btn-sm" href="{{ path('genres_add') }}">
										<i class="glyphicon glyphicon-plus"></i> {{ 'actions.add_genre' | trans }}
									</a>
								{% endif %}
							</th>
						</tr>

						{% for genre in genres %}
							<tr>
								<td class="highlight">{{ genre.name }}</td>
								<td>
									<a href="{{ path('books', {'book_filter[genres][]': genre.id}) }}" class="btn btn-sm {{ genre.books | length ? 'btn-success' : 'btn-default disabled' }}">
										{{ genre.books | length }}
									</a>
								</td>
								<td>
									{% if is_granted('ROLE_ADMIN') %}
										<a class="btn btn-primary btn-sm" href="{{ path('genres_edit', {'id': genre.id}) }}">
											<i class="glyphicon glyphicon-edit"></i>
											<span class="button-label"> {{ 'actions.edit' | trans }}</span>
										</a>
										{% if genre.isDeletable %}
											<button data-name="{{ genre.name }}" data-toggle="modal" data-target="#modal-delete" class="btn btn-sm delete btn-danger" data-path="{{ path('genres_delete', {'id': genre.id}) }}">
												<i class="glyphicon glyphicon-remove"></i>
												<span class="button-label"> {{ 'actions.delete' | trans }}</span>
											</button>
										{% else %}
											<button data-name="{{ genre.name }}" class="btn btn-sm delete btn-default disabled" data-path="#">
												<i class="glyphicon glyphicon-remove"></i>
												<span class="button-label"> {{ 'actions.delete' | trans }}</span>
											</button>
										{% endif %}
									{% endif %}
								</td>
							</tr>
						{% endfor %}

					</table>
				{% else %}
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">{{ 'messages.caution' | trans }}</h3>
						</div>
						<div class="panel-body">
							{{ 'messages.not_found' | trans }}
						</div>
					</div>
				{% endif %}

				<div class="navigation">
					{{ knp_pagination_render(genres) }}
				</div>

			</div>
		</div>

	</div>

{% endblock %}

{% block modal %}
	{% if genres|length > 0 %}
		{% include('modal-delete.html.twig') %}
	{% endif %}
{% endblock %}
