{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
	{% if book.id %}
		{{ 'book.edit' | trans }}
	{% else %}
		{{ 'book.add' | trans }}
	{% endif %}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/vendor/chosen-bootstrap/chosen.bootstrap.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-fileinput/css/fileinput.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/fancybox/dist/jquery.fancybox.min.css') }}"/>
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container-fluid content">

		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li>
						<a href="{{ path('books', { 'reset': true }) }}">{{ 'book.books' | trans }}</a>
					</li>
					{% if book.id %}
						<li>
							<a href="{{ path('books', {'book_filter[authors][]': book.author.id}) }}">{{ book.author.shortName }}</a>
						</li>
						<li class="active">
							{{ book.name }}
						</li>
						<li>
							<a href="{{ path('books_view', {'id': book.id}) }}">{{ 'actions.go' | trans }}</a>
						</li>
					{% else %}
						<li class="active">
							{{ 'book.add' | trans }}
						</li>
					{% endif %}
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">

				{% for flash_message in app.session.flashBag.get('notice') %}
					<div class="panel panel-default">
						<div class="panel-body bg-success">
							{{ flash_message }}
						</div>
					</div>
				{% endfor %}

				{{ form_start(form) }}
				{{ form_row(form.name) }}
				{{ form_row(form.author, {'attr': {'class': 'chosen-select'} }) }}
				{{ form_row(form.genre, {'attr': {'class': 'chosen-select', 'data-placeholder': 'messages.genre_select' | trans } }) }}
				{{ form_row(form.serie, {'attr': {'class': 'chosen-select', 'data-placeholder': 'messages.serie_select' | trans } }) }}
				{{ form_row(form.annotation, { 'attr': { 'rows': 10 } }) }}

				<div class="files" data-prototype="{{ form_widget(form.bookFiles.vars.prototype, { 'attr': { 'class': 'upload' } })|e('html_attr') }}">
					<ul class="list-unstyled">
						{% for file in book.bookFiles %}
							{% if file.id %}
								<li class="book-file" style="margin-left: 8em">
									<a href="#" data-path="{{ path('books_file_delete', { 'id': file.id }) }}" class="remove_stored_file" data-name="{{ file.name | split("/") | last }}" data-toggle="modal" data-target="#modal-delete">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
									<a href="{{ path('books_file_download', { 'id': file.id }) }}">{{ file.name | split("/") | last }}</a>
									{% if file.isImage == true %}
										<a data-fancybox="gallery" data-type="image" href="{{ path('books_file_download', { 'id': file.id }) }}">
											<i class="glyphicon glyphicon-picture"></i>
										</a>
									{% endif %}
									({{ file.getSizeInKb }})
								</li>
							{% endif %}
						{% endfor %}
					</ul>
					<br/>
				</div>

				<button type="submit" class="btn btn-success pull-right">
					<i class="glyphicon glyphicon-plus"></i> {{ 'actions.save' | trans }}
				</button>

				<button class="add_file_link btn btn-default pull-right">
					<i class="glyphicon glyphicon-plus-sign"></i> {{ 'actions.new_file' | trans }}
				</button>

				{% if book.id %}
					<button data-name="{{ book.name }}" data-toggle="modal" data-target="#modal-delete" class="btn btn-danger delete pull-right" data-path="{{ path('books_delete', {'id': book.id}) }}">
						<i class="glyphicon glyphicon-remove"></i> {{ 'actions.delete' | trans }}
					</button>

					{% if app.session.get(filterName) %}
						<a href="{{ path('books') }}" class="btn btn-default pull-right">
							<i class="glyphicon glyphicon-list"></i> {{ 'navigation.list' | trans }}
						</a>
					{% endif %}

				{% endif %}

				{{ form_end(form, { 'render_rest': false }) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/vendor/bootstrap-fileinput/js/fileinput.min.js') }}"></script>
	<script src="{{ asset('assets/vendor/chosen/chosen.jquery.js') }}"></script>
	<script src="{{ asset('assets/vendor/fancybox/dist/jquery.fancybox.min.js') }}"></script>
	<script src="{{ asset('assets/js/books-form.js') }}"></script>
{% endblock %}

{% block modal %}
	{% if book.id %}
		{% include('modal-delete.html.twig') %}
	{% endif %}
{% endblock %}
