{% extends 'base.html.twig' %}

{% block title %}{{ book.name }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/vendor/chosen-bootstrap/chosen.bootstrap.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/vendor/fancybox/dist/jquery.fancybox.min.css') }}"/>
{% endblock %}

{% block body %}
	<div class="container-fluid content">

		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li>
						<a href="{{ path('books', { 'reset': true }) }}">{{ 'navigation.books' | trans }}</a>
					</li>
					<li>
						<a href="{{ path('books', {'book_filter[author][]': book.author.id}) }}">{{ book.author.shortName }}</a>
					</li>
					<li class="active">{{ book.name }}</li>
					{% if is_granted('edit', book) %}
						<li>
							<a href="{{ path('books_edit', { 'id': book.id }) }}">{{ 'actions.edit' | trans }}</a>
						</li>
					{% endif %}
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-4 bordered-right">
				<dl class="dl-horizontal">
					<dt>{{ 'book.author' | trans }}:</dt>
					<dd>{{ book.author.fullName }}</dd>
					<dt>{{ 'book.name' | trans }}:</dt>
					<dd>{{ book.name }}</dd>
					<dt>{{ 'book.date' | trans }}:</dt>
					<dd>{{ book.createdAt | date("d.m.Y H:i") }}</dd>
					<dt>{{ 'book.downloads' | trans }}:</dt>
					<dd>{{ book.views }}</dd>
					<dt>{{ 'book.rating' | trans }}:</dt>
					<dd>{{ book.averageRating }}</dd>
				</dl>

				<ul class="list-group">
					<li class="list-group-item">
						{{ 'book.files' | trans }}
					</li>
					{% for file in book.bookFiles %}
						<li class="list-group-item">
							<a href="{{ path('books_file_download', { 'id': file.id }) }}">{{ file.name | split("/") | last }}</a>
							({{ file.getSizeInKb }})
						</li>
					{% endfor %}
				</ul>

				{{ render(controller('AppBundle:Ratings:form', { 'id': book.id })) }}
				<br/>
				<br/>
				<hr/>

				{% for image in images %}

					{% set thumbnail = image.thumbnail ? true : false %}

					<a data-fancybox="gallery" data-type="image" href="{{ path('books_file_download', { 'id': image.id }) }}">
						<img src="{{ path('books_file_download', { 'id': image.id, 'thumbnail': thumbnail }) }}" class="img-responsive"/>
					</a>
				{% endfor %}

				{% if book.annotation %}
					<br/>
					<br/>
					<hr/>

					<p class="lead bg-info">{{ 'book.annotation' | trans }}</p>
					<p>
						{{ book.annotation }}
					</p>
				{% endif %}

			</div>

			<div class="col-xs-8">
				{{ render(controller('AppBundle:Comments:index', { 'id': book.id })) }}
			</div>

		</div>

	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/vendor/chosen/chosen.jquery.js') }}"></script>
	<script src="{{ asset('assets/vendor/fancybox/dist/jquery.fancybox.min.js') }}"></script>
	<script src="{{ asset('assets/js/books-view.js') }}"></script>
{% endblock %}

{% block modal %}
	{% include('modal-delete.html.twig') %}
	{% include('modal-comment-edit.html.twig') %}
{% endblock %}