{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% form_theme comment_form 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ book.name }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('assets/vendor/chosen-bootstrap/chosen.bootstrap.min.css') }}"/>
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li>
						<a href="{{ path('books') }}">{{ 'navigation.books' | trans }}</a>
					</li>
					<li>
						<a href="{{ path('books', {'book_filter[author][]': book.author.id}) }}">{{ book.author.shortName }}</a>
					</li>
					<li class="active">{{ book.name }}</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3">
				<dl class="dl-horizontal">
					<dt>{{ 'book.author' | trans }}:</dt>
					<dd>{{ book.author.fullName }}</dd>
					<dt>{{ 'book.name' | trans }}:</dt>
					<dd>{{ book.name }}</dd>
					<dt>{{ 'book.date' | trans }}:</dt>
					<dd>{{ book.createdAt | date("d.m.Y H:i") }}</dd>
					<dt>{{ 'book.downloads' | trans }}:</dt>
					<dd>{{ book.views }}</dd>
					<dt>{{ 'book.rating' | trans }}:</dt>
					<dd>{{ book.averageRating }}</dd>
				</dl>
				<a href="{{ path('books_download', {'id': book.id}) }}" class="btn btn-success pull-right">
					<i class="glyphicon glyphicon-cloud-download"></i> {{ 'book.download' | trans }}
				</a>

				<br/>
				<br/>
				<hr/>

				{% for flash_message in app.session.flashBag.get('notice') %}
					<div class="panel panel-default">
						<div class="panel-body bg-success">
							{{ flash_message }}
						</div>
					</div>
				{% endfor %}

				{{ form_start(form) }}
				{{ form_row(form.value, {'attr': {'class': 'chosen-select', 'data-placeholder': ' '} }) }}

				<button type="submit" class="btn btn-primary pull-right">
					<i class="glyphicon glyphicon-star"></i> {{ 'book.vote' | trans }}
				</button>

				{{ form_end(form) }}

			</div>

			<div class="col-xs-8">
				{% for flash_message in app.session.flashBag.get('notice.comment') %}
					<div class="panel panel-default">
						<div class="panel-body bg-success">
							{{ flash_message }}
						</div>
					</div>
				{% endfor %}
				{{ form_start(comment_form) }}
				{{ form_row(comment_form.message) }}

				<button type="submit" class="btn btn-success pull-right">
					<i class="glyphicon glyphicon-plus"></i> {{ 'actions.save' | trans }}
				</button>

				{{ form_end(comment_form) }}
			</div>

		</div>

	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/vendor/chosen/chosen.jquery.js') }}"></script>
	<script src="{{ asset('assets/js/books-view.js') }}"></script>
{% endblock %}