{% extends 'base.html.twig' %}

{% block title %}{{ 'export.export' | trans }}{% endblock %}

{% block body %}
	<div class="container-fluid content">

		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li class="active">{{ 'export.export' | trans }}</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
                {% include('partials/flash-messages.html.twig') %}
			</div>
		</div>
		<div class="row margin-top-10">
			<div class="col-xs-3 bordered-right">
				<a class="btn btn-success export" href="{{ path('export_authors') }}" data-toggle="tooltip" data-placement="right" title="{{ 'actions.new_export' | trans }}">
					<i class="glyphicon glyphicon-download-alt"></i> {{ 'navigation.authors' | trans }}
				</a>
				<br/>
				{% for authorExport in exports.authors %}
					{% set filename = authorExport.filename | split("/") | last %}
					<br/>
					<a href="{{ path('export_download', { 'id': authorExport.id }) }}">
						{{ authorExport.createdAt | date("Y.m.d H:i:s") }}
					</a>
					<a data-name="{{ filename }}" data-toggle="modal" data-target="#modal-delete" class="delete" data-path="{{ path('export_delete', {'id': authorExport.id}) }}">
						<i class="glyphicon glyphicon-remove"></i>
					</a>
				{% endfor %}
			</div>
			<div class="col-xs-3 bordered-right">
				<a class="btn btn-success export" href="{{ path('export_genres') }}" data-toggle="tooltip" data-placement="right" title="{{ 'actions.new_export' | trans }}">
					<i class="glyphicon glyphicon-download-alt"></i> {{ 'navigation.genres' | trans }}
				</a>
				<br/>
				{% for genreExport in exports.genres %}
					{% set filename = genreExport.filename | split("/") | last %}
					<br/>
					<a href="{{ path('export_download', { 'id': genreExport.id }) }}">
						{{ genreExport.createdAt | date("Y.m.d H:i:s") }}
					</a>
					<a data-name="{{ filename }}" data-toggle="modal" data-target="#modal-delete" class="delete" data-path="{{ path('export_delete', {'id': genreExport.id}) }}">
						<i class="glyphicon glyphicon-remove"></i>
					</a>
				{% endfor %}
			</div>
			<div class="col-xs-3 bordered-right">
				<a class="btn btn-success export" href="{{ path('export_series') }}" data-toggle="tooltip" data-placement="right" title="{{ 'actions.new_export' | trans }}">
					<i class="glyphicon glyphicon-download-alt"></i> {{ 'navigation.series' | trans }}
				</a>
				<br/>
				{% for serieExport in exports.series %}
					{% set filename = serieExport.filename | split("/") | last %}
					<br/>
					<a href="{{ path('export_download', { 'id': serieExport.id }) }}">
						{{ serieExport.createdAt | date("Y.m.d H:i:s") }}
					</a>
					<a data-name="{{ filename }}" data-toggle="modal" data-target="#modal-delete" class="delete" data-path="{{ path('export_delete', {'id': serieExport.id}) }}">
						<i class="glyphicon glyphicon-remove"></i>
					</a>
				{% endfor %}
			</div>
			<div class="col-xs-1 col-xs-offset-1">
				<a class="btn btn-danger" href="{{ path('export_purge') }}">
					<i class="glyphicon glyphicon-remove"></i> {{ 'navigation.purge' | trans }}
				</a>
			</div>
		</div>

	</div>

{% endblock %}

{% block modal %}
	{% include('modal-delete.html.twig') %}
{% endblock %}
