{% extends 'base.html.twig' %}

{% block title %}{{ 'export.export' | trans }}{% endblock %}

{% block body %}
	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li class="active">{{ 'export.export' | trans }}</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-3">
				<a class="btn btn-success" href="{{ path('export_authors') }}">
					<i class="glyphicon glyphicon-download-alt"></i> {{ 'navigation.authors' | trans }}
				</a>
			</div>
			<div class="col-xs-3">
				<a class="btn btn-success" href="{{ path('export_genres') }}">
					<i class="glyphicon glyphicon-download-alt"></i> {{ 'navigation.genres' | trans }}
				</a>
			</div>
		</div>

	</div>

{% endblock %}