{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}Редактирование автора{% endblock %}

{% block body %}

	<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Внимание!</h4>
				</div>
				<div class="modal-body">
					Действительно удалить автора <span class="author-name"></span>?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
					<a type="button" class="btn btn-danger delete-author" href="#">
						<i class="glyphicon glyphicon-remove"></i> Удалить
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li><a href="{{ path('authors') }}">Авторы</a></li>
					<li class="active">Редактирование автора</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">

				{{ form_start(form) }}
				{{ form_row(form.firstName) }}
				{{ form_row(form.lastName) }}

				<button type="submit" class="btn btn-success pull-right">
					<i class="glyphicon glyphicon-plus"></i> Сохранить
				</button>

				<button data-name="{{ author.shortName }}" data-toggle="modal" data-target="#Modal" class="btn btn-danger delete pull-right" data-path="{{ path('authors_delete', {'id': author.id}) }}">
					<i class="glyphicon glyphicon-remove"></i> Удалить
				</button>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/authors-edit.js') }}"></script>
{% endblock %}