{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
	{% if author.id %}
		{{ 'author.edit' | trans }}
	{% else %}
		{{ 'author.add' | trans }}
	{% endif %}
{% endblock %}

{% block body %}
	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li><a href="{{ path('authors') }}">{{ 'author.authors' | trans }}</a></li>
					<li class="active">
						{% if author.id %}
							{{ author.shortName }}
						{% else %}
							{{ 'author.add' | trans }}
						{% endif %}
					</li>
				</ol>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">

				{% for flash_message in app.session.flashBag.get('notice') %}
					<div class="panel panel-default">
						<div class="panel-body bg-success">
							{{ flash_message }}
						</div>
					</div>
				{% endfor %}

				{{ form_start(form) }}
				{{ form_row(form.firstName) }}
				{{ form_row(form.lastName) }}

				<button type="submit" class="btn btn-success pull-right">
					<i class="glyphicon glyphicon-plus"></i> {{ 'actions.save' | trans }}
				</button>

				{% if author.id %}
					<button data-name="{{ author.shortName }}" data-toggle="modal" data-target="#Modal" class="btn btn-danger delete pull-right" data-path="{{ path('authors_delete', {'id': author.id}) }}">
						<i class="glyphicon glyphicon-remove"></i> {{ 'actions.delete' | trans }}
					</button>
				{% endif %}

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block modal %}
	{% if author.id %}
		{% include('modal-delete.html.twig') %}
	{% endif %}
{% endblock %}