{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ 'author.authors' | trans }}{% endblock %}

{% block body %}

	<div class="modal fade" id="Modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">{{ 'messages.caution' | trans }}</h4>
				</div>
				<div class="modal-body">
					{{ 'messages.author_delete' | trans }} <span class="author-name"></span>?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'actions.cancel' | trans }}</button>
					<a type="button" class="btn btn-danger delete-author" href="#">
						<i class="glyphicon glyphicon-remove"></i> {{ 'actions.delete' | trans }}
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="container-fluid">

		<div class="row">
			<div class="col-xs-12">
				<ol class="breadcrumb">
					<li class="active">{{ 'author.authors' | trans }}</li>
				</ol>
			</div>
		</div>


		<div class="row">
			<div class="col-xs-12">
				{% for flash_message in app.session.flashBag.get('notice') %}
					<div class="panel panel-default">
						<div class="panel-body bg-success">
							{{ flash_message }}
						</div>
					</div>
				{% endfor %}
				{% for flash_message in app.session.flashBag.get('error') %}
					<div class="panel panel-default">
						<div class="panel-body bg-danger">
							{{ flash_message }}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-default filter-toggle" type="button" data-toggle="collapse" data-target="#filter">
					<i class="glyphicon glyphicon-collapse-down"></i> Фильтр
				</button>
				<hr/>
			</div>
		</div>

		<div class="collapse" id="filter">
			<div class="row">
				{{ form_start(form) }}
				<div class="col-xs-3">
					{{ form_row(form.lastName) }}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<button type="submit" class="btn btn-primary">
						<i class="glyphicon glyphicon-search"></i> {{ 'actions.show' | trans }}
					</button>
					<a role="button" class="btn btn-default" href="{{ path('authors') }}">
						<i class="glyphicon glyphicon-remove-circle"></i> {{ 'actions.reset' | trans }}
					</a>
					<br/><br/>
				</div>
				{{ form_end(form) }}
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">

				<table class="table table-striped table-hover">
					<tr>
						<th>{{ knp_pagination_sortable(authors, 'Автор', 'a.lastName') }}</th>
						<th>Книги</th>
						<th>
							{% if is_granted('ROLE_ADMIN') %}
								<a class="btn btn-success btn-sm" href="{{ path('authors_add') }}">
									<i class="glyphicon glyphicon-plus"></i> {{ 'actions.add_author' | trans }}
								</a>
							{% endif %}
						</th>
					</tr>

					{% for author in authors %}
						<tr>
							<td>{{ author.fullName }}</td>
							<td>
								<a href="{{ path('books', {'book_filter[author][]': author.id}) }}" class="btn {{ author.books | length ? 'btn-success' : 'btn-default disabled' }}">
									{{ author.books | length }}
								</a>
							</td>
							<td>
								{% if is_granted('ROLE_ADMIN') %}
									<a class="btn btn-primary btn-sm" href="{{ path('authors_edit', {'id': author.id}) }}">
										<i class="glyphicon glyphicon-edit"></i> {{ 'actions.edit' | trans }}
									</a>
									<button data-name="{{ author.shortName }}" data-toggle="modal" data-target="#Modal" class="btn btn-danger btn-sm delete" data-path="{{ path('authors_delete', {'id': author.id}) }}">
										<i class="glyphicon glyphicon-remove"></i> {{ 'actions.delete' | trans }}
									</button>
								{% endif %}
							</td>
						</tr>
					{% endfor %}

				</table>

				<div class="navigation">
					{{ knp_pagination_render(authors) }}
				</div>

			</div>
		</div>

	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/authors-index.js') }}"></script>

	{% if app.request.query.get('author_filter') %}
		<script>
			$(document).ready(function() {
				$('.filter-toggle').click();
			});
		</script>
	{% endif %}

{% endblock %}